package layout

templ Header() {

<header class="container">
    <div class="d-flex justify-content-center">
        <img src="/static/img/vinylbase-logo2-small.png" class="mx-auto"/>
    </div>
</header>
}